$footer-bg-color: #333;
$footer-text-color: white;

footer {
  background-color: $footer-bg-color;
  color: $footer-text-color;
  text-align: center;
  padding: 5px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}
